<% include ../include/header %>
<link rel="stylesheet" href="/stylesheets/css/animate.css">
<link rel="stylesheet" href="/stylesheets/css/index.css">
</head>
<body>
	<img id="background" src="images/images/background.jpg" alt="">
	<% include ../include/menu %>
	<section id="content_banner">
		<div class="carousel slide" id="carousel-container" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<img src="/images/images/banner1.jpg" alt="">
					<div class="item-cover ">
						<h3>个人网站管理系统</h3>
						<p class="item-cover-tabs animated fadeInRightBig"><a href="">HTML</a><a href="">CSS</a><a href="">javascript</a><a href="">Node.js</a><a href="">Bootstrap</a></p>
						<p class="animated fadeInRightBig">个人网站管理系统</p>
						<button class="btn btn-nomal">在线预览</button>
						<button class="btn btn-important">源码下载</button>
					</div>
				</div>
				<div class="item">
					<img src="/images/images/banner2.jpg" alt="">
					<div class="item-cover ">
						<h3>个人网站管理系统</h3>
						<p class="item-cover-tabs animated fadeInRightBig"><a href="">HTML</a><a href="">CSS</a><a href="">javascript</a><a href="">Node.js</a><a href="">Bootstrap</a></p>
						<p class="animated fadeInRightBig">个人网站管理系统</p>
						<button class="btn btn-nomal">在线预览</button>
						<button class="btn btn-important">源码下载</button>
					</div>
				</div>
				<div class="item">
					<img src="/images/images/banner3.jpg" alt="">
					<div class="item-cover ">
						<h3>个人网站管理系统</h3>
						<p class="item-cover-tabs animated fadeInRightBig"><a href="">HTML</a><a href="">CSS</a><a href="">javascript</a><a href="">Node.js</a><a href="">Bootstrap</a></p>
						<p class="animated fadeInRightBig">个人网站管理系统</p>
						<button class="btn btn-nomal">在线预览</button>
						<button class="btn btn-important">源码下载</button>
					</div>
				</div>
				<div class="item">
					<img src="/images/images/banner4.jpg" alt="">
					<div class="item-cover ">
						<h3>个人网站管理系统</h3>
						<p class="item-cover-tabs animated fadeInRightBig"><a href="">HTML</a><a href="">CSS</a><a href="">javascript</a><a href="">Node.js</a><a href="">Bootstrap</a></p>
						<p class="animated fadeInRightBig">个人网站管理系统</p>
						<button class="btn btn-nomal">在线预览</button>
						<button class="btn btn-important">源码下载</button>
					</div>
				</div>
				<div class="item">
					<img src="/images/images/banner5.jpg" alt="">
					<div class="item-cover ">
						<h3>个人网站管理系统</h3>
						<p class="item-cover-tabs animated fadeInRightBig"><a href="">HTML</a><a href="">CSS</a><a href="">javascript</a><a href="">Node.js</a><a href="">Bootstrap</a></p>
						<p class="animated fadeInRightBig">个人网站管理系统</p>
						<button class="btn btn-nomal">在线预览</button>
						<button class="btn btn-important">源码下载</button>
					</div>
				</div>
			</div>
			<ol class="carousel-indicators">
				<li data-slide-to="0" data-target="#carousel-container" class="active"></li>
				<li data-slide-to="1" data-target="#carousel-container"></li>
				<li data-slide-to="2" data-target="#carousel-container"></li>
				<li data-slide-to="3" data-target="#carousel-container"></li>
				<li data-slide-to="4" data-target="#carousel-container"></li>
			</ol>
			<a href="#carousel-container" data-slide="prev" class="left carousel-control">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#carousel-container" data-slide="next" class="right carousel-control">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</section>
	<section id="content_lastest">
		<div class="container">
			<header class="content-header animated fadeInUp">
				<h2>近期作品展示</h2>
				<p>每一个不曾起舞的日子，都是对生命的最大辜负</p>
			</header>
			<article class="content-lastest-body">
				<div class="row">
					<div class="col-md-6">
						<figure>
							<a href="#"><img src="/images/images/g1.jpg" alt="" class="img-responsive"></a>
							<figcaption>
								<h3 class="animated">扁平化AJAX表单</h3>
								<p class="animated">包括的宏伟纪念册江湖foe无法活动佛违法的哈佛未发货动画foe无法得分后卫</p>
							</figcaption>
						</figure>
						
					</div>
					<div class="col-md-6">
						<figure>
							<a href="#"><img src="/images/images/g2.jpg" alt="" class="img-responsive"></a>
							<figcaption>
								<h3 class="animated">扁平化AJAX表单</h3>
								<p class="animated">包括的宏伟纪念册江湖foe无法活动佛违法的哈佛未发货动画foe无法得分后卫</p>
							</figcaption>
						</figure>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<figure>
							<a href="#"><img src="/images/images/g1.jpg" alt="" class="img-responsive"></a>
							<figcaption>
								<h3 class="animated">扁平化AJAX表单</h3>
								<p class="animated">包括的宏伟纪念册江湖foe无法活动佛违法的哈佛未发货动画foe无法得分后卫</p>
							</figcaption>
						</figure>
						
					</div>
					<div class="col-md-4">
						<figure>
							<a href="#"><img src="/images/images/g2.jpg" alt="" class="img-responsive"></a>
							<figcaption>
								<h3 class="animated">扁平化AJAX表单</h3>
								<p class="animated">包括的宏伟纪念册江湖foe无法活动佛违法的哈佛未发货动画foe无法得分后卫</p>
							</figcaption>
						</figure>
						
					</div>
					<div class="col-md-4">
						<figure>
							<a href="#"><img src="/images/images/g3.jpg" alt="" class="img-responsive"></a>
							<figcaption>
								<h3 class="animated">扁平化AJAX表单</h3>
								<p class="animated">包括的宏伟纪念册江湖foe无法活动佛违法的哈佛未发货动画foe无法得分后卫</p>
							</figcaption>
						</figure>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<figure>
							<a href="#"><img src="/images/images/g6.jpg" alt="" class="img-responsive"></a>
							<figcaption>
								<h3 class="animated">扁平化AJAX表单</h3>
								<p class="animated">包括的宏伟纪念册江湖foe无法活动佛违法的哈佛未发货动画foe无法得分后卫</p>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-6">
						<figure>
							<a href="#"><img src="/images/images/g7.jpg" alt="" class="img-responsive"></a>
							<figcaption>
								<h3 class="animated">扁平化AJAX表单</h3>
								<p class="animated">包括的宏伟纪念册江湖foe无法活动佛违法的哈佛未发货动画foe无法得分后卫</p>
							</figcaption>
						</figure>				
					</div>
				</div>
				
			</article>
		</div>
	</section>
	<section id="content_aboutme">
		<div class="container">
			<header class="content-header animated fadeInUp">
				<h2>About me</h2>
				<p>每一个不曾起舞的日子，都是对生命的最大辜负</p>
			</header>
			<div class="row">
				<div class="col-md-6">
					<h3>教育经历</h3>
					<article>
						<p>焦点网佛而非地方和我发货快束带结发酒店开房喝交话费的开始纷纷建设单位副科级富华大厦会计法觉得发货快地逢生快递费课外辅导话费</p>
					</article>
				</div>
				<div class="col-md-6">
					<h3>教育经历</h3>
					<article>
						<p>焦点网佛而非地方和我发货快束带结发酒店开房喝交话费的开始纷纷建设单位副科课教师绝地逢生快递费课外辅导话费</p>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section id="content_message">
		<div class="container">
			<header class="content-header animated fadeInUp">
				<h2>留言吧动态</h2>
				<p>每一个不曾起舞的日子，都是对生命的最大辜负</p>
			</header>
			<article>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12 list-item">
							<div class="row">
								<div class="col-md-4 col-sm-3 col-xs-12">
									<img src="/images/images/img1.jpg" alt="">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h3>小九<span class="time">2016-3-28</span></h3>
									<p class="text-muted context-small">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 list-item">
							<div class="row">
								<div class="col-md-4 col-sm-3 col-xs-12 visible-xs">
									<img src="/images/images/img2.jpg" alt="">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h3>小九<span class="time">2016-3-28</span></h3>
									<p class="text-muted context-small">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
								<div class="col-md-4 col-sm-3 col-xs-12 hidden-xs">
									<img src="/images/images/img2.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 list-item">
							<div class="row">
								<div class="col-md-4 col-sm-3 col-xs-12">
									<img src="/images/images/img3.jpg" alt="">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h3>小九<span class="time">2016-3-28</span></h3>
									<p class="text-muted context-small">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 list-item">
							<div class="row">
								<div class="col-md-4 col-sm-3 col-xs-12 visible-xs">
									<img src="/images/images/img4.jpg" alt="">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h3>小九<span class="time">2016-3-28</span></h3>
									<p class="text-muted context-small">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
								<div class="col-md-4 col-sm-3 col-xs-12 hidden-xs">
									<img src="/images/images/img4.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 list-item">
							<div class="row">
								<div class="col-md-4 col-sm-3 col-xs-12">
									<img src="/images/images/img1.jpg" alt="">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h3>小九<span class="time">2016-3-28</span></h3>
									<p class="text-muted context-small">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 list-item">
							<div class="row">
								<div class="col-md-4 col-sm-3 col-xs-12 visible-xs">
									<img src="/images/images/img2.jpg" alt="">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h3>小九<span class="time">2016-3-28</span></h3>
									<p class="text-muted context-small">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
								<div class="col-md-4 col-sm-3 col-xs-12 hidden-xs">
									<img src="/images/images/img2.jpg" alt="">
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</article>
		</div>
	</section>
	<section id="content_notes">
		<div class="container">
			<header class="content-header animated fadeInUp">
				<h2>学习笔记摘要</h2>
				<p>每一个不曾起舞的日子，都是对生命的最大辜负</p>
			</header>
			<div class="row content-notes-body">
				<div class="col-md-4 col-sm-12">
					<div class="content-notes-item">
						<figure>
							<img src="/images/images/tab1.jpg" alt="">
						</figure>
						<atiicle>
							<h3>活动我发毒而非<span class="time">2015-3-28</span></h3>
							<p class="text-muted context-small">
								罕见的覅无法好的服务佛厚度foe无法回复我饿和杜甫我饿好大夫哦符号位偶发复合富哦发货未付哦哈佛额无法回复恩我回复偶尔玩哈佛额外护额发我复夫哦符号位偶发饿好大夫哦符号位哦发货未付哦e无法回复我饿e无法回夫哦符号位偶发...
							</p>
							<div class="item-btn-groups">
								<button class="btn btn-important">更多笔记</button>
								<button class="btn btn-important">详细阅读</button>
							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content-notes-item">
						<figure>
							<img src="/images/images/tab2.jpg" alt="">
						</figure>
						<atiicle>
							<h3>活动我发毒而非<span class="time">2015-3-28</span></h3>
							<p class="text-muted context-small">
								罕见的覅无法好的服务佛厚度foe无法回复我饿和杜甫我饿好大夫哦符号位偶发复合富哦发货未付哦哈佛额无法回复恩我回复偶尔玩哈佛额外护额发我复夫哦符号位偶发饿好大夫哦符号位哦发货未付哦e无法回复我饿e无法回夫哦符号位偶发...
							</p>
							<div class="item-btn-groups">
								<button class="btn btn-important">更多笔记</button>
								<button class="btn btn-important">详细阅读</button>
							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content-notes-item">
						<figure>
							<img src="/images/images/tab3.jpg" alt="">
						</figure>
						<atiicle>
							<h3>活动我发毒而非<span class="time">2015-3-28</span></h3>
							<p class="text-muted context-small">
								罕见的覅无法好的服务佛厚度foe无法回复我饿和杜甫我饿好大夫哦符号位偶发复合富哦发货未付哦哈佛额无法回复恩我回复偶尔玩哈佛额外护额发我复夫哦符号位偶发饿好大夫哦符号位哦发货未付哦e无法回复我饿e无法回夫哦符号位偶发...
							</p>
							<div class="item-btn-groups">
								<button class="btn btn-important">更多笔记</button>
								<button class="btn btn-important">详细阅读</button>
							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content-notes-item">
						<figure>
							<img src="/images/images/tab1.jpg" alt="">
						</figure>
						<atiicle>
							<h3>活动我发毒而非<span class="time">2015-3-28</span></h3>
							<p class="text-muted context-small">
								罕见的覅无法好的服务佛厚度foe无法回复我饿和杜甫我饿好大夫哦符号位偶发复合富哦发货未付哦哈佛额无法回复恩我回复偶尔玩哈佛额外护额发我复夫哦符号位偶发饿好大夫哦符号位哦发货未付哦e无法回复我饿e无法回夫哦符号位偶发...
							</p>
							<div class="item-btn-groups">
								<button class="btn btn-important">更多笔记</button>
								<button class="btn btn-important">详细阅读</button>
							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content-notes-item">
						<figure>
							<img src="/images/images/tab2.jpg" alt="">
						</figure>
						<atiicle>
							<h3>活动我发毒而非<span class="time">2015-3-28</span></h3>
							<p class="text-muted context-small">
								罕见的覅无法好的服务佛厚度foe无法回复我饿和杜甫我饿好大夫哦符号位偶发复合富哦发货未付哦哈佛额无法回复恩我回复偶尔玩哈佛额外护额发我复夫哦符号位偶发饿好大夫哦符号位哦发货未付哦e无法回复我饿e无法回夫哦符号位偶发...
							</p>
							<div class="item-btn-groups">
								<button class="btn btn-important">更多笔记</button>
								<button class="btn btn-important">详细阅读</button>
							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="content-notes-item">
						<figure>
							<img src="/images/images/tab3.jpg" alt="">
						</figure>
						<atiicle>
							<h3>活动我发毒而非<span class="time">2015-3-28</span></h3>
							<p class="text-muted context-small">
								罕见的覅无法好的服务佛厚度foe无法回复我饿和杜甫我饿好大夫哦符号位偶发复合富哦发货未付哦哈佛额无法回复恩我回复偶尔玩哈佛额外护额发我复夫哦符号位偶发饿好大夫哦符号位哦发货未付哦e无法回复我饿e无法回夫哦符号位偶发...
							</p>
							<div class="item-btn-groups">
								<button class="btn btn-important">更多笔记</button>
								<button class="btn btn-important">详细阅读</button>
							</div>
						</article>
					</div>
				</div>
				
			</div>

		</div>
	</section>
	<section id="content_tabs">
		<div class="container">
			<header class="content-header animated fadeInUp">
				<h2>技术标签选择</h2>
				<p>每一个不曾起舞的日子，都是对生命的最大辜负</p>
			</header>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 content-tabs-item">
					<header>
						<span class="glyphicon glyphicon-dashboard"></span>
					</header>
					<article>
						<h3>JavaScript</h3>
						<p class="text-muted">回答我饿福活动经费和杜甫我饿发答我饿福活动经费和答我饿福活动经费和</p>
					</article>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 content-tabs-item">
					<header>
						<span class="glyphicon glyphicon-dashboard"></span>
					</header>
					<article>
						<h3>JavaScript</h3>
						<p class="text-muted">回答我饿福活动经费和杜甫我饿发答我饿福活动经费和答我饿福活动经费和</p>
					</article>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 content-tabs-item">
					<header>
						<span class="glyphicon glyphicon-dashboard"></span>
					</header>
					<article>
						<h3>JavaScript</h3>
						<p class="text-muted">回答我饿福活动经费和杜甫我饿发答我饿福活动经费和答我饿福活动经费和</p>
					</article>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 content-tabs-item">
					<header>
						<span class="glyphicon glyphicon-dashboard"></span>
					</header>
					<article>
						<h3>JavaScript</h3>
						<p class="text-muted">回答我饿福活动经费和杜甫我饿发答我饿福活动经费和答我饿福活动经费和</p>
					</article>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 content-tabs-item">
					<header>
						<span class="glyphicon glyphicon-dashboard"></span>
					</header>
					<article>
						<h3>JavaScript</h3>
						<p class="text-muted">回答我饿福活动经费和杜甫我饿发答我饿福活动经费和答我饿福活动经费和</p>
					</article>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 content-tabs-item">
					<header>
						<span class="glyphicon glyphicon-dashboard"></span>
					</header>
					<article>
						<h3>JavaScript</h3>
						<p class="text-muted">回答我饿福活动经费和杜甫我饿发答我饿福活动经费和答我饿福活动经费和</p>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section id="content_contact">
		<div class="container">
			<header class="content-header animated fadeInUp">
				<h2>联系我</h2>
				<p>每一个不曾起舞的日子，都是对生命的最大辜负</p>
			</header>
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<ul class="contact-way">
						<li class="contact-way-item"><span class="glyphicon glyphicon-map-marker"></span>陕西省西安市西安石油大学</li>
						<li class="contact-way-item"><span class="glyphicon glyphicon-earphone"></span>13468818308</li>
						<li class="contact-way-item"><span class="glyphicon glyphicon-envelope"></span>13468818308@163.com</li>
						<li class="contact-way-item"><span class="glyphicon glyphicon-globe"></span>www.hhh</li>
						
					</ul>
				</div>
				<div class="col-md-8 col-sm-12">
					<form action="">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<input type="text" class="form-control contact-form" placeholder="姓名" >
							</div>
							<div class="col-md-6 col-sm-12">
								<input type="text" class="form-control contact-form" placeholder="邮箱" >
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control contact-form" placeholder="主题" >
							</div>
							<div class="col-sm-12">
								<textarea name="" id="" cols="30" rows="10" class="form-control contact-form" placeholder="信息..."></textarea>
							</div>
							<button class="btn-contact">发送</button>

						</div>
						
					</form>
				</div>
			</div>
		</div>
</section>
	<% include ../include/footer %>
	

<script src="/javascripts/jquery2.1.4.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/js/public.js"></script>
<script src="/javascripts/js/index.js"></script>
</body>
</html>