<div class="modal fade" id="deletephotoes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h5 class="modal-title">
                    删除图片
                </h5>
            </div>
            <div class="modal-body">
                删除将不可恢复，确定删除选中照片吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-danger" id="btn-deletephotos">
                    提交
                </button>
            </div>
        </div><!--modal-content-->
    </div>
</div>