<div class="modal fade" id="editphotoes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h5 class="modal-title">
                    编辑图片信息
                </h5>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-group has-feedback limit-number">
                        <input maxlength="10" type="text" class="form-control input-sm" placeholder="编辑名称" value="">
                        <span class="form-control-feedback span-margin-right control-number"><span class="active-number">0</span>/10</span>
                    </div>
                    <div class="form-group has-feedback limit-number">
                        <textarea maxlength="200" name="" class="form-control textarea-sm" id="" style="width: 100%;height:100px;resize:none" value="" placeholder="添加描述..."></textarea>
                        <span class="form-control-feedback span-margin-right control-number"><span class="active-number">0</span>/200</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="submit" class="btn btn-primary" form="form-addalbum">
                    提交
                </button>
            </div>
        </div><!--modal-content-->
    </div>
</div>