<div id="set_cover">
    <div class="wait">
        <div class="wait-circle">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
        <p class="text-muted">正在设置封面...</p>
    </div>
    <div class="set-success">
        <div class="brand">
            <span class="glyphicon glyphicon-ok-circle text-success"> </span>
        </div>
        <p class="text-muted">设置成功！</p>
    </div>
</div>