<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<% if(typeof pagetitle == "undefined"){ %>
			<%=sitename %> - <%=sitedescription %>
		<% }else{ %>
			<%=pagetitle %> - <%=sitename %>
		<% } %>
	</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/css/public.css">
	<link rel="stylesheet" href="/stylesheets/css/style.css">